@using OnlineShopPodaci.Model;
@{

}
@model List<OnlineShop.ViewModels.LookInCartVM>
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>LookInCart</title>
</head>
<body>
    <h2 style="color:maroon">Košarica</h2> <br />
    @if (Model.Count() == 0)
    {
        <h5>U košarici nema artikala.</h5> <br />
        <a href="/Product/Show2">Kreni sa kupovinom.</a>
    }

    else
    {
    <br />
    <br />


    <table border="1">
        <tr>
            <th>Šifra proizvoda</th>
            <th>Naziv proizvoda</th>
            <th>Kategorija</th>
            <th>Količina</th>
            <th>Cijena po komadu</th>
            <th>Ukupno</th>
            <th>Akcija</th>

        </tr>
        @foreach (var x in Model)
        {
    <tr>
        <td>@x.ProductNumber</td>
        <td>@x.ProductName</td>
        <td>@x.SubCategoryName</td>
        <td>@x.Quantity</td>
        <td>@x.UnitPrice BAM</td>
        <td>@(x.Quantity * x.UnitPrice) BAM</td>
        <td><a href="/Cart/RemoveFromCart?productid=@x.ProductID&userid=6">Ukloni iz korpe</a> </td>
    </tr>
        }
    </table>

    <br />


    <br /><a href="/Cart/DeleteCart?userid=6">Očisti košaricu </a>
    <br /><a href="/Product/Show2">Nazad u kupovinu</a>
    }
</body>
</html>