@model BranchQuantityVM
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

    <p>Poslovnice i količinska stanja:</p> <br />
                                           <form>
                                               @*action="/Administration/BranchQuantity" method="post"*@
                                               <input hidden asp-for="ProductID" value="@Model.ProductID" />
                                               Naziv proizvoda<input disabled value="@Model.ProductName" /> <br />
                                               Zahtjevana količina <input disabled type="number" value="@Model.RequiredQuantity" /> <br /> <br /> <br />
                                               @foreach (var x in Model.branches)
                                               {

                                                   <input hidden asp-for="@x.BranchID" value="@x.BranchID" />
                                                   <text>Poslovnica:</text><input disabled value="@x.BranchName" /> <br />
                                                   <text>Na raspolaganju:</text><input disabled value="@x.UnitsInBranch" /> <br />
                                                   <text>Oduzmi:</text> @if (Model.RequiredQuantity > x.UnitsInBranch)
                                                   {<input id="@x.BranchID" type="number" min="0" max="@x.UnitsInBranch" asp-for="@x.Input" value="0"><br /><br />}
                                                   else
                                                   { <input id="@x.BranchID" type="number" min="0" max="@Model.RequiredQuantity" asp-for="@x.Input" value="0"><br /><br />}
                                               }

                                               <button type="button" id="bt" onclick="javascript:alert('Nije implementirano !')">Spremi stanje</button>
                                           </form>

   <script>
       $("#bt").click = function () {
         //provjera jel od svih poslovnica sabirak inputa jednak required, ak nije abort i poruka

       }
   </script>
