
@using OnlineShop.ViewModels

@{
    ViewData["Title"] = "ShowProducts";
    var q = 1;

}

@model List<ShowProductsVM>

<h1>Prikaz proizvoda podkategorije</h1>

<style>
    #maindiv{
        width:25%;
        float:left;
        margin:10px;
        height:300px;
    }
</style>

@foreach (var i in Model)
{
        <div id="maindiv" class="col-lg-3 col-md-4 col-sm-6 mb-4">
            <div class="card h-100">
                <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
                <div class="card-body">
                    <h4 class="card-title">
                        <a href="#">@i.ProductName</a>
                    </h4>
                    <p class="card-text">@i.UnitPrice</p>
                    <p class="card-text">@i.ManufacturerName</p>
                    <input type="number" id=@i.ProductName value="1" min="0" max="@i.UnitsInStock" onclick="SetQuantity(@i.ProductName)"/>
                    <a href="/Cart/AddToCart?productid=@i.ProductID&userid=6&q=@q">Dodaj u košaricu</a>
                </div>
            </div>
        </div>
        }

<script>

    function SetQuantity(s) {
        @q=document.getElementById(s).value;
        
    }

</script>